@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model FormDataModal
@{
    ViewData["Title"] = "Form";
}

<h1 class="display-4" style="text-align:center; padding-top: 0.3em;">User Creation</h1>
<div class="mainDiv">
    <form asp-controller="Form" asp-action="InsertUser" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="nameTable">
            <thead>

                <tr style="height: 1em;"></tr>
                <tr><td class="sideHeading" colspan="3"><h4 style="margin-bottom: 0em;">Personal Information</h4></td></tr>
                <tr style="height: 1em;"></tr>

                <tr>
                    <td>
                        <label for="firstName" class="form-label">First Name</label>
                        <input id="firstName" class="form-control" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="middleName" class="form-label">Middle Name</label>
                        <input id="middleName" class="form-control" asp-for="MiddleName" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="lastName" class="form-label">Last Name</label>
                        <input id="lastName" class="form-control" asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="email" placeholder="name@example.com" class="form-control"asp-for="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="phone" class="form-label">Contact Number</label>
                        <input id="phone" class="form-control" placeholder="(xxx)-xxx-xxxx" asp-for="Phone"/>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input id="dob" type="date" class="form-control" asp-for="DateOfBirth" max="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="CalculateAge()"/>
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="age" class="form-label">Age</label>
                        <input id="age" type="number" class="form-control" asp-for="Age" readonly/>
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="nationality" class="form-label">Nationality</label>
                        <input id="nationality" class="form-control" asp-for="Nationality" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="occupation" class="form-label">Occupation</label>
                        <select class="form-select" asp-for="Occupation">
                            <option value="Not Choosen">Not Selected</option>
                            <option value="Student">Student</option>
                            <option value="Corporate">Coporate</option>
                            <option value="Military">Military</option>
                            <option value="Teaching">Teaching</option>
                            <option value="Law">Law</option>
                            <option value="others">Others</option>
                        </select>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 1em;"></tr>
                <tr><td class="sideHeading" colspan="3"><h4 style="margin-bottom: 0em;">Address</h4></td></tr>
                <tr style="height: 1em;"></tr>

                <tr>
                    <td>
                        <label for="address1" class="form-label">Street Address</label>
                        <input id="address1" placeholder="Street, Apartment number, etc" class="form-control" asp-for="Address1" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="address2" class="form-label">Address Line 2</label>
                        <input id="address2" class="form-control" asp-for="Address2" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="city" class="form-label">City</label>
                        <input id="city" class="form-control" asp-for="City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="state" class="form-label">State</label>
                        <input id="state" class="form-control" asp-for="State" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="country" class="form-label">Country</label>
                        <input id="country" class="form-control" asp-for="Country" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="pincode" class="form-label">Pincode</label>
                        <input id="pincode" type="number" class="form-control" asp-for="Pincode" />
                        <span asp-validation-for="Pincode" class="text-danger"></span>
                    </td>
                </tr>

                <tr style="height: 1em;"></tr>
                <tr><td class="sideHeading" colspan="3"><h4 style="margin-bottom: 0em;">Highest Education</h4></td></tr>
                <tr style="height: 1em;"></tr>

                <tr>
                    <td>
                        <label for="degree" class="form-label">Degree</label>
                        <input id="degree" class="form-control" asp-for="Degree" />
                        <span asp-validation-for="Degree" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="institution" class="form-label">Institution Name</label>
                        <input id="institution" class="form-control" asp-for="Institution" />
                        <span asp-validation-for="Institution" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="yearCompleted" class="form-label">Year Completed (or estimated)</label>
                        <input id="yearCompleted" type="number" class="form-control" asp-for="YearCompleted" />
                        <span asp-validation-for="YearCompleted" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style ="display: flex; align-items: center; justify-content: center; padding-top: 2em;">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </form>
</div>

<!-- User Creation Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">User Created Successfully</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                User information has been successfully saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Script to trigger modal on page load -->
@if (ViewBag.showModal != null && ViewBag.showModal) {
<script>
    $(document).ready(function () {
        $('#successModal').modal('show');
    });
</script>
}

<script>
    function CalculateAge() {
        const dobDate = document.getElementById('dob');
        const calAge = document.getElementById('age');
        if (dobDate.value) {
            const dob = new Date(dobDate.value);
            const today = new Date();

            let age = today.getFullYear() - dob.getFullYear();
            const monthDiff = today.getMonth() - dob.getMonth();
            const dayDiff = today.getDate() - dob.getDate();

            if (monthDiff < 0 || (monthDiff === 0 && dayDiff < 0)) {
                age--;
            }
            calAge.value = age
        }
        else {
            calAge.value = age = '';
        }
    }
</script>


