@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FormDataModal
@{
    ViewData["Title"] = "Operations"; 
}

<h1 class="display-4" style="text-align:center; padding-top: 0.3em;">User List</h1>
<div style="margin: 3em 10% 1em 10%;">
    <table class="nameTable">
        <tbody>
            <tr>
                <td>
                    <label for="firstName" class="form-label">First Name</label>
                    <input id="firstName" class="form-control" asp-for="FirstName"/>
                </td>
                <td>
                    <label for="lastName" class="form-label">Last Name</label>
                    <input id="lastName" class="form-control" asp-for="LastName" />
                </td>
                <td>
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="email" placeholder="name@example.com" class="form-control" asp-for="Email" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="age" class="form-label">Age</label>
                    <input id="age" type="number" class="form-control" asp-for="Age"/>
                </td>
                <td>
                    <label for="nationality" class="form-label">Nationality</label>
                    <input id="nationality" class="form-control" asp-for="Nationality"/>
                    <span asp-validation-for="Nationality" class="text-danger"></span>
                </td>
                <td>
                    <label for="occupation" class="form-label">Occupation</label>
                    <select id="occupation" class="form-select" asp-for="Occupation">
                        <option value="none">Not Selected</option>
                        <option value="Student">Student</option>
                        <option value="Corporate">Coporate</option>
                        <option value="Military">Military</option>
                        <option value="Teaching">Teaching</option>
                        <option value="Law">Law</option>
                        <option value="others">Others</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="display: flex; justify-content:center;">
        <button type="submit" class="btn btn-primary" style="margin: 0.5em; padding: 0.5em 1em;" onclick="sendFields()">Search</button>
    </div>

    <div style="margin: 1em 1em 0 0;">
        <p id="noResult" class="p" style="display: none; color: red;">No results found, please modify the filters!!</p>
        <table id="searchTable" class="table table-striped table-bordered" style="margin: auto; display: none; text-align: center;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Nationality</th>
                    <th>Occupation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @* rows will be integrated dynamically *@
            </tbody>
        </table>
    </div>
</div>

<!-- Modal to show user details -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title w-100" id="modalTitle"></h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




